In [1]:
import sys
import os
cwd = os.getcwd()
src_path = os.path.abspath(os.path.join(cwd, '..', 'src'))
sys.path.append(src_path)

In [2]:
import pandas as pd
from model_function import load_data, split_train_test, remove_na, na_impute_mean, encode_ethnicity, binary_gender, train_model, predict, accuracy_sc, predict_probababilities, calc_roc_auc

In [3]:
## part a
df = load_data()


## part c
df = remove_na(df)


## part d
df = na_impute_mean(df)


## part e
df = encode_ethnicity(df)


## part f
df = binary_gender(df)

In [4]:
## part b
X_train, X_test, y_train, y_test = split_train_test(df)


## part g 
features_columns = ['age', 'height', 'weight', 'aids', 'cirrhosis', 'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma', 'solid_tumor_with_metastasis']
X_train_select = X_train[features_columns]
X_test_select = X_test[features_columns]

model = train_model(X_train_select, y_train)


## part h
y_pred = predict(model, X_test_select)

accuracy = accuracy_sc(y_test, y_pred)
print(f'Accuracy score is: {accuracy:.4f}')

train_proba = predict_probababilities(model, X_train_select)
test_proba = predict_probababilities(model, X_test_select)
X_train['predict_train'] = train_proba
X_test['predict_test'] = test_proba

train_roc_auc = calc_roc_auc(model, X_train_select, y_train)
test_roc_auc = calc_roc_auc(model, X_test_select, y_test)


## print results
print("X_train dataset with predict_train column:")
display(X_train.head(5))
print("Predictions for train:")
display(pd.DataFrame(X_train[['predict_train']]).head(10))
print(f'Train ROC AUC: {train_roc_auc:.3f}')

print("X_test dataset with predict_test column:")
display(X_test.head(5))
print("Predictions for test:")
display(pd.DataFrame(X_test[['predict_test']]).head(10))
print(f'Test ROC AUC: {test_roc_auc:.3f}')

Accuracy score is: 0.7231
X_train dataset with predict_train column:

,encounter_id,hospital_id,age,bmi,elective_surgery,gender,height,hospital_admit_source,icu_admit_source,icu_id,...,leukemia,lymphoma,solid_tumor_with_metastasis,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown,predict_train
3542,251680,118,84.0,24.103007,1,1,165.1,Operating Room,Operating Room / Recovery,92,...,0,0,0,False,False,True,False,False,False,0.080000
9576,277808,74,89.0,23.900034,0,0,163.0,Emergency Department,Accident & Emergency,144,...,0,0,0,False,False,True,False,False,False,0.020000
7566,244385,83,50.0,33.550040,1,0,154.9,Operating Room,Operating Room / Recovery,95,...,0,0,0,False,False,True,False,False,False,0.080000
4218,172420,118,85.0,28.767347,0,1,175.0,Direct Admit,Accident & Emergency,97,...,0,0,0,False,False,True,False,False,False,0.060000
6548,192399,118,62.0,NaN,0,0,167.6,Emergency Department,Accident & Emergency,97,...,0,0,0,False,False,True,False,False,False,0.468541

Predictions for train:

      predict_train
3542       0.080000
9576       0.020000
7566       0.080000
4218       0.060000
6548       0.468541
3875       0.240000
9300       0.720000
6285       0.120000
5347       0.030000
7731       0.020000

Train ROC AUC: 0.998
X_test dataset with predict_test column:

,encounter_id,hospital_id,age,bmi,elective_surgery,gender,height,hospital_admit_source,icu_admit_source,icu_id,...,leukemia,lymphoma,solid_tumor_with_metastasis,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown,predict_test
47,184214,151,59.0,14.844926,0,0,170.20,Floor,Floor,109,...,0,0,1,True,False,False,False,False,False,0.130000
3481,204727,118,74.0,37.884789,1,1,188.00,Operating Room,Operating Room / Recovery,100,...,0,0,0,False,False,True,False,False,False,0.610000
8694,185576,168,78.0,24.798487,0,0,160.02,Emergency Department,Accident & Emergency,136,...,0,0,0,False,False,True,False,False,False,0.020000
2767,273468,118,59.0,23.906250,0,1,160.00,NaN,Accident & Emergency,89,...,0,0,0,False,True,False,False,False,False,0.040000
3819,194682,69,58.0,26.386867,0,1,185.40,Emergency Department,Accident & Emergency,82,...,0,0,0,False,False,True,False,False,False,0.066667

Predictions for test:

      predict_test
47        0.130000
3481      0.610000
8694      0.020000
2767      0.040000
3819      0.066667
9438      0.050000
2354      0.330000
71        0.096333
1996      0.480000
4533      0.120000

Test ROC AUC: 0.616