In [4]:
import sys
import os
cwd = os.getcwd()
src_path = os.path.abspath(os.path.join(cwd, '..', 'src'))
sys.path.append(src_path)

In [5]:
from diabetes_prediction_package.model_function import load_data, split_train_test, remove_na, na_impute_mean, encode_ethnicity, binary_gender, train_model, predict, accuracy_sc, predict_probababilities, calc_roc_auc

In [6]:
## part a
df = load_data()


## part c
df = remove_na(df)


## part d
df = na_impute_mean(df)


## part e
df = encode_ethnicity(df)


## part f
df = binary_gender(df)

In [7]:
## part b
X_train, X_test, y_train, y_test = split_train_test(df)


## part g 
features_columns = ['age', 'height', 'weight', 'aids', 'cirrhosis', 'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma', 'solid_tumor_with_metastasis']
X_train_select = X_train[features_columns]
X_test_select = X_test[features_columns]

model = train_model(X_train_select, y_train)


## part h
y_pred = predict(model, X_test_select)

accuracy = accuracy_sc(y_test, y_pred)
print(f'Accuracy score is: {accuracy:.4f}')

train_proba = predict_probababilities(model, X_train_select)
test_proba = predict_probababilities(model, X_test_select)
X_train['predict_train'] = train_proba
X_test['predict_test'] = test_proba

train_roc_auc = calc_roc_auc(model, X_train_select, y_train)
test_roc_auc = calc_roc_auc(model, X_test_select, y_test)


## print results
print("X_train dataset with predict_train column:")
display(X_train.head(5))
print("Predictions for train:")
display(pd.DataFrame(X_train[['predict_train']]).head(10))
print(f'Train ROC AUC: {train_roc_auc:.3f}')

print("X_test dataset with predict_test column:")
display(X_test.head(5))
print("Predictions for test:")
display(pd.DataFrame(X_test[['predict_test']]).head(10))
print(f'Test ROC AUC: {test_roc_auc:.3f}')

Accuracy score is: 0.7284
X_train dataset with predict_train column:

,encounter_id,hospital_id,age,bmi,elective_surgery,gender,height,hospital_admit_source,icu_admit_source,icu_id,...,leukemia,lymphoma,solid_tumor_with_metastasis,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown,predict_train
4662,187105,77,46.0,27.009358,0,1,175.3,NaN,Floor,113,...,0,0,0,False,False,True,False,False,False,0.055833
5617,221040,118,63.0,NaN,0,1,175.3,Direct Admit,Accident & Emergency,114,...,0,0,0,False,False,True,False,False,False,0.458738
8556,150687,168,76.0,24.882812,0,0,160.0,Emergency Department,Accident & Emergency,136,...,0,0,0,False,False,True,False,False,False,0.000000
4277,238077,31,80.0,44.874584,0,1,175.3,Emergency Department,Accident & Emergency,83,...,0,0,0,False,False,True,False,False,False,0.280000
8837,260969,89,54.0,27.459684,0,0,162.6,Emergency Department,Accident & Emergency,133,...,0,0,0,False,False,True,False,False,False,0.165000

Predictions for train:

      predict_train
4662       0.055833
5617       0.458738
8556       0.000000
4277       0.280000
8837       0.165000
1531       0.710000
1663       0.780000
2980       0.130000
1967       0.050000
6446       0.030000

Train ROC AUC: 0.998
X_test dataset with predict_test column:

,encounter_id,hospital_id,age,bmi,elective_surgery,gender,height,hospital_admit_source,icu_admit_source,icu_id,...,leukemia,lymphoma,solid_tumor_with_metastasis,ethnicity_African American,ethnicity_Asian,ethnicity_Caucasian,ethnicity_Hispanic,ethnicity_Native American,ethnicity_Other/Unknown,predict_test
2333,249595,31,88.0,22.277898,0,0,162.6,Emergency Department,Accident & Emergency,83,...,0,0,0,False,False,True,False,False,False,0.18
5675,250711,149,85.0,19.469506,1,0,165.1,Operating Room,Operating Room / Recovery,103,...,0,0,0,False,False,True,False,False,False,0.02
3400,180516,118,56.0,36.788849,0,0,177.8,Emergency Department,Accident & Emergency,93,...,0,0,0,False,False,True,False,False,False,0.47
4597,205124,63,59.0,28.868118,0,1,172.7,Emergency Department,Accident & Emergency,108,...,0,0,1,False,False,True,False,False,False,0.13
1349,181919,118,53.0,31.482972,0,0,170.2,Emergency Department,Accident & Emergency,97,...,0,0,0,False,False,True,False,False,False,0.79

Predictions for test:

      predict_test
2333      0.180000
5675      0.020000
3400      0.470000
4597      0.130000
1349      0.790000
461       0.010000
5979      0.030000
640       0.200000
5833      0.410000
9653      0.327143

Test ROC AUC: 0.622